[Desktop Entry]
Encoding=UTF-8
Name=Irssi
Exec=irssi
Icon=
GenericName=IRC Client
GenericName[es]=Cliente de IRC
Comment=Terminal based IRC client
Comment[es]=Cliente de IRC basado en terminal
Terminal=true
Type=Application
Categories=Application;Network;
