[Desktop Entry]
Encoding=UTF-8
Version=0.2.9
Name=gopedit
Type=Application
Comment=a simple program that lets you cut and merge MPEG2-PS files at GOP boundaries without reencoding
Exec=gopedit
Icon=
Categories=Applications;Multimedia;Video;
Term=
