[Desktop Entry]
Encoding=UTF-8
Version=0.2.9
Name=gopedit
Type=Application
Comment=a simple program that lets you cut and merge MPEG2-PS files at GOP boundaries without reencoding
Comment[es]=un programa simple que permite cortar y unir ficheros MPEG2-PS en límites GOP sin recodificar
Exec=gopedit
Icon=
Categories=Applications;Multimedia;Video;
Term=
