[Desktop Entry]
Encoding=UTF-8
Version=1.3.2
Name=audacious
Type=Application
Comment=a fork of beep-media-player 0.9.7.1
Exec=audacious
Icon=audacious_player.xpm
Categories=Application;Multimedia;Player
Term=
