[Desktop Entry]
Encoding=UTF-8
Name=Xine
Exec=xine --no-splash
Icon=
Terminal=false
Type=Application
Categories=Application;Multimedia;Video;
GenericName=Video player
GenericName[es]=Reproductor de video
