[Desktop Entry]
Encoding=UTF-8
Name=XSane
Exec=xsane
Icon=/usr/share/sane/xsane/xsane-logo.xpm
Terminal=false
Type=Application
Categories=Application;Graphics
