[Desktop Entry]
Encoding=UTF-8
Name=IceWM Menu Editor
Name[es]=Editor de menú de IceWM
Exec=iceme
Icon=
Terminal=false
Type=Application
Categories=Application;IceWMTools;
