[Desktop Entry]
Version=1.0
Name=Claws Mail
GenericName=E-mail client
GenericName[ca]=Client de correu electrònic
GenericName[cs]=E-mailový klient
GenericName[da]=E-post klient
GenericName[es]=Cliente de correo electrónico
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Client de messagerie électronique
GenericName[he]=לקוח דוא״ל
GenericName[hu]=Levelezőkliens
GenericName[id]=Pembaca E-mail
GenericName[ja]=Eメールクライアント
GenericName[lt]=El. pašto klientas
GenericName[pl]=Program poczty elektronicznej
GenericName[pt]=Cliente de e-mail
GenericName[ru]=Почтовый клиент
GenericName[sk]=Poštový klient
GenericName[sv]=E-postklient
GenericName[tr]=E-posta istemcisi
Exec=claws-mail %u
Icon=claws-mail
Categories=Network;Email;
Keywords=lightweight;fast;gui;extensible;plugin;pop;pop3;imap;imap4;nntp;news;
Comment=Lightweight and Fast GTK+ based Mail Client
Comment[ca]=Client de correu electrònic ràpid i lleuger basat en GTK+
Comment[cs]=Lehký a rychlý mailový klient založený na GTK+
Comment[da]=Letvægts og hurtig GTK+ baseret e-post klient
Comment[es]=Cliente de correo rápido y ligero basado en GTK+
Comment[fi]=Kevyt ja nopea GTK+-pohjainen sähköpostiohjelma
Comment[fr]=Client de messagerie électronique, rapide et léger, en GTK+
Comment[he]=לקוח דואר קל משקל ומהיר מבוסס +GTK
Comment[hu]=Pehelysúlyú és gyors GTK+ alapú levelezőkliens
Comment[id]=Pembaca e-mail berbasis GTK+ yang cepat dan ringan
Comment[ja]=軽量で早いGTK+ベースのEメールクライアント
Comment[lt]=Lengvas ir greitas el. pašto klientas GTK+ pagrindu
Comment[pl]=Program pocztowy używający GTK+
Comment[pt]=Cliente de e-mail leve e rápido, baseado em GTK+
Comment[ru]=Быстрый почтовый клиент на базе GTK+
Comment[sk]=Odľahčený a rýchly poštový klient, založený na GTK+
Comment[sv]=Lättviktig och snabb GTK+-baserad E-postklient
Comment[tr]=GTK+ temelli hafif ve hızlı bir E-posta İstemcisi
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail

Actions=GetMail;ComposeMail;SendFile;

[Desktop Action GetMail]
Exec=claws-mail --receive-all
Name=Get Mail
Name[ca]=Rebre
Name[es]=Recibir
Name[fr]=Relever
Name[he]=השג דואר
Name[pt]=Receber
Name[ru]=Получить Почту
Name[tr]=Posta Al

[Desktop Action ComposeMail]
Exec=claws-mail --compose
Name=Email...
Name[ca]=Correu...
Name[es]=Correo...
Name[fr]=Message...
Name[he]=דוא״ל...
Name[pt]=Mensagem...
Name[ru]=Письмо...
Name[tr]=E-posta yaz...

[Desktop Action SendFile]
Exec=claws-mail --compose --attach %f
Name=Send file...
Name[ca]=Enviar arxiu...
Name[es]=Enviar fichero...
Name[fr]=Envoyer fichier...
Name[he]=שלח קובץ...
Name[pt]=Enviar ficheiro...
Name[ru]=Отправить файл...
Name[tr]=Ekli e-posta yaz...
