[Desktop Entry]
Encoding=UTF-8
Name=KDE4
Comment=This session logs you into KDE4
Exec=/usr/bin/startkde
TryExec=/usr/bin/startkde
Icon=
Type=Application
