[Desktop Entry]
Encoding=UTF-8
Name=Wmacpimon
Exec=wmacpimon -b /etc/wmacpimon.prc
Icon=
Terminal=false
Type=Application
Categories=Application;WMTools;
