[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
Exec=thunderbird
Icon=/usr/lib/thunderbird/icons/mozicon50.xpm
Terminal=false
Type=Application
Categories=Application;Network;Mail;
