[Desktop Entry]
Encoding=UTF-8
Name=aterm
Exec=aterm -fg grey90 -bg black
Icon=xterm.png
Terminal=false
Type=Application
Categories=Application;XTerminals;
