[Desktop Entry]
Encoding=UTF-8
Name=Xpdf
Name[cs]=Xpdf
Comment=View PDF files
Comment[cs]=Zobrazit soubory PDF
Comment[es]=Ver archivos PDF
Exec=xpdf %f
Icon=xpdf
Terminal=false
Type=Application
Categories=Application;Graphics;
MimeType=application/pdf;
