[Desktop Entry]
Encoding=UTF-8
Name=PodViewer Documentation Browser
Name[cs]=Prohlížeč nápovědy PodViewer
Comment=Browse Perl's POD documentation
Comment[cs]=Prohlížet POD dokumentaci Perlu
Exec=podviewer
Terminal=False
Type=Application
Categories=Application;Development;
StartupNotify=false
