[Desktop Entry]
Encoding=UTF-8
Name=PodViewer Documentation Browser
Name[cs]=Prohlížeč nápovědy PodViewer
Name[es]=Navegador de documentación PodViewer
Comment=Browse Perl's POD documentation
Comment[cs]=Prohlížet POD dokumentaci Perlu
Comment[es]=Navegue la documentación POD de Perl
Exec=podviewer
Terminal=False
Type=Application
Categories=Application;Development;
StartupNotify=false
