[Desktop Entry]
Encoding=UTF-8
Name=SpcaGui
Exec=spcagui
Icon=/usr/share/spcagui/spca5xx.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Video;
