[Desktop Entry]
Encoding=UTF-8
Version=0.6.2
Name=stalonetray
Type=Application
Comment=a stand-alone freedesktop.org and KDE system tray
Exec=stalonetray
Icon=
Categories=Applications;Tray;
Term=
