[Desktop Entry]
Encoding=UTF-8
Name=Sylpheed
Exec=sylpheed
Icon=
Terminal=false
Type=Application
Categories=Application;Network;
GenericName=E-mail client
GenericName[es]=Cliente de correo electrónico
