[Desktop Entry]
Encoding=UTF-8
Version=
Name=qutescoop
Type=Application
Comment=a platform-independent status indicator like ServInfo for VATSIM, IVAO and any other FSD network
Exec=QuteScoop
Icon=
Categories=Applications;Games;Flying;
Term=
