[Desktop Entry]
Encoding=UTF-8
Version=1.0.7
Name=qmpdclient
Type=Application
Comment=an easy to use MPD client written in Qt 4
Comment[es]=Un cliente para MPD fácil de usar, escrito en Qt 4
Exec=qmpdclient
Icon=qmpdclient128.png
Categories=Application;Multimedia;Audio;
Term=
GenericName=Music player
GenericName[es]=Reproductor de música
