[Desktop Entry]
Encoding=UTF-8
Name=Gxmms2
GenericName=Music Player
Exec=gxmms2
Comment=Listen to, browse, or edit your audio collection
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;AudioPlayer;
