[Desktop Entry]
Encoding=UTF-8
Name=Gxmms2
GenericName=Music Player
GenericName[es]=Reproductor de música
Exec=gxmms2
Comment=Listen to, browse, or edit your audio collection
Comment[es]=Escuche, navegue, o edite su colección de audio
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;AudioPlayer;
