[Desktop Entry]
Name=Guimup
Comment=GTK+ frontend for mpd
Comment[es]=Interfaz GTK+ para mpd
Exec=guimup
Terminal=false
Type=Application
Icon=guimup
Categories=GTK;AudioVideo;Player;
StartupNotify=true
