[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=QtOctave
Type=Application
Comment=a front-end for Octave
Comment[es]=una interfaz gráfica para Octave
Exec=qtoctave
Icon=
Categories=Applications;Math;numeric;
Term=
