[Desktop Entry]
Encoding=UTF-8
Name=Evidence
Exec=evidence
TryExec=evidence
Icon=
Terminal=false
Type=Application
Categories=Application;System;Utility;Core;FileManager;
Comment=Manage your files
Comment[nl]=Beheer je bestanden
GenericName=Filemanager
GenericName[nl]=Bestandsbeheerder
