[Desktop Entry]
Encoding=UTF-8
Version=1.5
Name=texmaker
Type=Application
Comment=a free LaTeX editor
Comment[es]=Un editor de LaTeX libre
Exec=texmaker
Icon=texmaker128x128.png
Categories=Application;Editors;LaTeX;
Term=
