[Desktop Entry]
Encoding=UTF-8
Name=Dillo
Exec=dillo
Icon=
Terminal=false
Type=Application
Categories=Application;Network;Browsers;
GenericName=Web browser
GenericName[es]=Navegador web
