[Desktop Entry]
Encoding=UTF-8
Name=Nvu
Exec=nvu
Icon=/usr/lib/nvu/chrome/icons/default/default.xpm
Terminal=false
Type=Application
Categories=Application;Network;Browsers;
