[Desktop Entry]
Encoding=UTF-8
Name=Firefox
Exec=firefox
Icon=/usr/lib/firefox/chrome/icons/default/default.xpm
Terminal=false
Type=Application
Categories=Application;Network;Browsers
