[Desktop Entry]
Encoding=UTF-8
Version=0.5.source
Name=sunbird
Type=Application
Comment=Mozilla-style ease-of-use for your calendar
Exec=sunbird
Icon=
Categories=Application;Office;Calendar;
Term=
