[Desktop Entry]
Encoding=UTF-8
Name=JEdit
Exec=jedit
Icon=/usr/share/jedit/icons/jedit.ico
Terminal=false
Type=Application
Categories=Application;Development;
