[Desktop Entry]
Encoding=UTF-8
Version=0.04
Name=kmenc15
Type=Application
Comment=an advanced Qt/KDE MEncoder frontend, generally designed to be a VirtualDub replacement for Linux
Comment[es]=una interfaz Qt/KDE avanzada para MEncoder, generalmente diseñada para ser un remplazo a VirtualDub para Linux
Exec=kmenc15
Icon=
Categories=Application;Multimedia;Video;
Term=
