[Desktop Entry]
Encoding=UTF-8
Name=MPlayer
Exec=gmplayer
TryExec=gmplayer
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;Video;
GenericName=Video player
GenericName[es]=Reproductor de video
