[Desktop Entry]
Encoding=UTF-8
Version=
Name=XOverKill
Type=Application
Comment=xkill on steroids
Exec=xoverkill
Icon=
Categories=Applications;System;
Term=
