[Desktop Entry]
Encoding=UTF-8
Version=
Name=dvbcut
Type=Application
Comment=a Qt application that allows you to select certain parts of an MPEG transport stream and save these parts into a single MPEG output file
Comment[es]=una aplicación Qt que le permite seleccionar ciertas partes de un flujo MPEG y guardarlas en un sola archivo MPEG
Exec=dvbcut
Icon=
Categories=Application;Multimedia;Video;
Term=
