[Desktop Entry]
Encoding=UTF-8
Name=Joe
Exec=joe
Icon=
Terminal=true
Type=Application
Categories=Application;Editor
GenericName=Text editor
GenericName[es]=Editor de texto
