[Desktop Entry]
Encoding=UTF-8
Version=0.34
Name=wmfsm
Type=Application
Comment=a filesystem usage monitor
Comment[es]=un monitor de uso de sistema de archivos
Exec=wmfsm
Icon=
Categories=Applications;System;Monitor;
Term=
