[Desktop Entry]
Encoding=UTF-8
Name=blackbox
Comment=This session logs you into blackbox
Exec=startblackbox
TryExec=startblackbox
Icon=
Type=Application
