[Desktop Entry]
Encoding=UTF-8
Name=Blender
Name[en_CA]=Blender
Name[fr]=Blender
Comment=3D modeling, animation and rendering
Comment[en_CA]=3D modeling, animation and rendering
Comment[es]=Modelado, animación y representación 3D
Comment[fr]=Modélisation, animation et rendu 3D
Exec=blender
Icon=blender48x48.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Graphics;
