#!/bin/bash  # for syntax highlighting

# Begin /etc/(f)crontab
# Modified for SourceMage GNU/Linux
# (C) Copyright 2003 SourceMage GNU/Linux Team
# SMGL-script-version=20030628

SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# The following describes the format of each "cron" line of this file. All
#   items must be on a single line.
# Minute(0-59)
# Hour(0-23)
# DayOfMonth(1-31)
# MonthOfYear(1-12)
# DayOfWeek(0-6 0=Sunday)
# User
# CommandToRun
# Directory

*/2 *  *  *  * root run-parts /etc/cron/2minutely  # Runs every two minutes.
*/5 *  *  *  * root run-parts /etc/cron/5minutely  # Runs every five minutes.
01  *  *  *  * root run-parts /etc/cron/hourly     # Runs the first minute of every single hour.
02  4  *  *  * root run-parts /etc/cron/daily      # Runs the second minute of 4am every day.
22  4  *  *  0 root run-parts /etc/cron/weekly     # Runs the 22nd minute of 4am every day.
42  4  1  *  * root run-parts /etc/cron/monthly    # Runs the 42nd minute of 4am on the first day of every month.
58  23 31 12 * root run-parts /etc/cron/yearly     # Runs the 58th minute of 11pm (almost midnight) on the last day of the year.
