[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=pybackpack
Type=Application
Comment=a user-friendly file backup tool
Comment[es]=una amigable herramienta de respaldo de ficheros
Exec=pybackpack
Icon=
Categories=Applications;GUI;Backup;
Term=
