[Desktop Entry]
Name=NUT Monitor
Name[es]=Monitor NUT
Name[fr]=Moniteur NUT
Comment=Network UPS Tools GUI client
Comment[es]=Cliente gráfico para NUT (Network UPS Tools)
Comment[fr]=Client graphique pour NUT (Network UPS Tools)
Categories=Application;Network;
Encoding=UTF-8
Exec=NUT-Monitor
Icon=/usr/share/nut-monitor/nut-monitor.png
Terminal=false
Type=Application
