[Desktop Entry]
Encoding=UTF-8
Name=Express
Exec=express
TryExec=express
Icon=
Terminal=false
Type=Application
Categories=Application;Network;InstantMessaging;
Comment=Send instant messages
Comment[nl]=Stuur IM berichten
GenericName=Instant messenger
GenericName[nl]=IM berichten
