[Desktop Entry]
Encoding=UTF-8
Name=Wifi Radar
Exec=gksu wifi-radar
Icon=wifi-radar.png
Terminal=false
Type=Application
Categories=Application;Network;
StartupNotify=true
