[Desktop Entry]
Encoding=UTF-8
Name=Python Telemeter systray
Exec=pytelemeter-tray
Icon=/usr/share/pytelemeter/pytele_small.png
Terminal=false
Type=Application
Categories=Application;Network;

