--- WordNet-2.0/include/wnconsts.h	2004-07-29 15:37:18.285747424 +0200
+++ WordNet-2.0/include/wnconsts.h	2004-07-29 15:45:30.823870248 +0200
@@ -16,8 +16,8 @@
 
 #ifdef UNIX
 #define DICTDIR         "/dict"
-#define DEFAULTPATH	"/usr/local/WordNet-2.0/dict"
-#define DEFAULTBIN      "/usr/local/WordNet-2.0/bin"
+#define DEFAULTPATH	"/usr/share/wordnet/dict"
+#define DEFAULTBIN      "/usr/bin"
 #define DATAFILE	"%s/data.%s"
 #define INDEXFILE	"%s/index.%s"
 #define SENSEIDXFILE	"%s/index.sense"
--- WordNet-2.0/Makefile	2004-07-29 15:37:18.284747576 +0200
+++ WordNet-2.0/Makefile	2004-07-29 15:44:39.617654776 +0200
@@ -34,9 +34,9 @@
 # Platform for binary installation.  If you are using one of the 
 # following operating systems you do not have to compile the package.
 
-PLATFORM = solaris
+#PLATFORM = solaris
 #PLATFORM = irix
-#PLATFORM = linux
+PLATFORM = linux
 
 # The WordNet system must be installed in a directory hierarchy.
 # WN_ROOT is the root of the WordNet installation hierarchy.
@@ -62,7 +62,7 @@
 
 # Default installation paths
 
-WN_ROOT = /usr/local/WordNet-2.0
+WN_ROOT = INSTALL_ROOT/usr
 
 # By default, precompiled WordNet binaries are installed in 
 # $WN_ROOT/bin.  You may specify another location, such as /usr/local/bin.
@@ -76,7 +76,7 @@
 # the default location, you MUST set the environment variable 
 # WNSEARCHDIR, or the WordNet browser will not be able to run.
 
-WN_DICTDIR = $(WN_ROOT)/dict
+WN_DICTDIR = $(WN_ROOT)/share/wordnet/dict
 
 # By default, installing the database files is done by copying them
 # from the "dict" subdirectory into WN_DICTDIR.  To save space, you
@@ -104,8 +104,8 @@
 # your MANPATH environment variable.  The WordNet Reference Manual is
 # also installed in HTML and PDF formats in $WN_ROOT/doc.
 
-WN_MANDIR = $(WN_ROOT)/man
-WN_DOCDIR = $(WN_ROOT)/doc
+WN_MANDIR = $(WN_ROOT)/share/man
+WN_DOCDIR = $(WN_ROOT)/share/doc/wordnet
 
 ##### Platform specific stuff (for compiling from source only) 
 ##### If you are not compiling WordNet 2.0, you do not have to change
@@ -118,14 +118,14 @@
 CC = gcc
 
 # Use this for Solaris
-LOCAL_LDFLAGS = -R/usr/openwin/lib:/usr/lib:/usr/local/lib
+#LOCAL_LDFLAGS = -R/usr/openwin/lib:/usr/lib:/usr/local/lib
 
 # Use this for Irix and Linux
-#LOCAL_LDFLAGS = 
+LOCAL_LDFLAGS = 
 
 # "UNIX" must be defined for things to compile...
 
-LOCAL_CFLAGS = -O -DUNIX
+LOCAL_CFLAGS = ${CFLAGS} -DUNIX
 
 # The WordNet browser uses the Tcl/Tk libraries.  WordNet 2.0 should
 # work with Tcl/Tk 8.0 and higher.  It was built with version 8.3 on
@@ -142,12 +142,12 @@
 
 # For the Solaris build, these were used:
 
-TCL_INCDIR = /usr/local/include
-TCL_LIBDIR = /usr/local/lib
-TK_INCDIR = /usr/local/include
-TK_LIBDIR = /usr/local/lib
-X11_INCDIR = /usr/openwin/include
-X11_LIBDIR = /usr/openwin/lib
+#TCL_INCDIR = /usr/local/include
+#TCL_LIBDIR = /usr/local/lib
+#TK_INCDIR = /usr/local/include
+#TK_LIBDIR = /usr/local/lib
+#X11_INCDIR = /usr/openwin/include
+#X11_LIBDIR = /usr/openwin/lib
 
 # For the Irix build, these were used:
 
@@ -160,16 +160,16 @@
 
 # For the Linux build, these were used:
 
-#TCL_INCDIR = /usr/include
-#TCL_LIBDIR = /usr/lib
-#TK_INCDIR = /usr/include
-#TK_LIBDIR = /usr/lib
-#X11_INCDIR = /usr/X11R6/include
-#X11_LIBDIR = /usr/X11R6/lib
+TCL_INCDIR = /usr/include
+TCL_LIBDIR = /usr/lib
+TK_INCDIR = /usr/include
+TK_LIBDIR = /usr/lib
+X11_INCDIR = /usr/X11R6/include
+X11_LIBDIR = /usr/X11R6/lib
 
 # Libraries needed for Solaris
 
-WNB_LIBS = -ltk8.3 -ltcl8.3 -lX11 -lm -lsocket -lnsl -ldl -lpthread
+#WNB_LIBS = -ltk8.3 -ltcl8.3 -lX11 -lm -lsocket -lnsl -ldl -lpthread
 
 # Libraries needed for Irix
 
@@ -178,7 +178,7 @@
 
 # Libraries needed for Linux
 
-#WNB_LIBS = -ltk -ltcl -lX11 -lm -lnsl -ldl -lpthread
+WNB_LIBS = -ltk8.4 -ltcl8.4 -lX11 -lm -lnsl -ldl -lpthread
 
 ###### Finally, the "make" targets ######
 
--- WordNet-2.0/src/include/wnconsts.h	2004-07-29 15:37:17.951798192 +0200
+++ WordNet-2.0/src/include/wnconsts.h	2004-07-29 15:45:30.823870248 +0200
@@ -16,8 +16,8 @@
 
 #ifdef UNIX
 #define DICTDIR         "/dict"
-#define DEFAULTPATH	"/usr/local/WordNet-2.0/dict"
-#define DEFAULTBIN      "/usr/local/WordNet-2.0/bin"
+#define DEFAULTPATH	"/usr/share/wordnet/dict"
+#define DEFAULTBIN      "/usr/bin"
 #define DATAFILE	"%s/data.%s"
 #define INDEXFILE	"%s/index.%s"
 #define SENSEIDXFILE	"%s/index.sense"
