[Desktop Entry]
Encoding=UTF-8
Name=MPV
Exec=mpv
Icon=mpv.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Video;
GenericName=General-purpose video player
