[Desktop Entry]
Encoding=UTF-8
Version=3.0.4_src
Name=filezilla
Type=Application
Comment=FileZilla Client is a free, open source FTP, FTPS and SFTP client.
Exec=FileZilla
Icon=FileZilla
Categories=Applications;Internet
Term=
