[Desktop Entry]
Encoding=UTF-8
Categories=Application;Network;
Exec=licq
Icon=
StartupNotify=true
Terminal=false
Type=Application

Name=Licq

GenericName=Internet Messenger
GenericName[ca]=Missatger d'Internet
GenericName[cs]=Internet Messenger
GenericName[da]=Internet beskeder
GenericName[de]=Internet Messenger
GenericName[es]=Cliente de mensajería de Internet
GenericName[fr]=Messagerie internet
GenericName[hu]=Azonnali üzenetküldő
GenericName[it]=Internet Messenger
GenericName[ja]=インターネット・メッセンジャー
GenericName[ko]=메신저
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Expresberichten
GenericName[pl]=Komunikator Internetowy
GenericName[pt_BR]=Mensageiro via Internet
GenericName[pt]=Mensageiro Internet
GenericName[ro]=Client de mesagerie
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[sl]=Spletni sel
GenericName[sq]=Lajmësjellës Internet
GenericName[sv]=Meddelandeklient
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_TW]=網路即時通

Comment=Send instant messages over multiple protocols
Comment[ca]=Envieu missatges instantanis en múltiples protocols
Comment[cs]=Posílat instant message různými protokoly
Comment[da]=Send beskeder over flere protokoller
Comment[de]=Multi-Protokoll Instant Messenger Client
Comment[es]=Cliente de mensajería instantánea multiprotocolo
Comment[fr]=Envoie des messages instantanés en utilisant divers protocoles
Comment[hu]=Azonnali üzenetküldés többféle protokoll használatával
Comment[it]=Client multiprotocollo per messaggi immediati
Comment[ja]=複数のプロトコルを介してインスタント・メッセージを送信します
Comment[ko]=다중 프로토콜 메신저
Comment[nb]=Send lynmeldinger over flere protokoller
Comment[nl]=Multi-protocol programma voor expresberichten
Comment[pl]=Komunikator internetowy obsługujący kilka protokołów
Comment[pt_BR]=Mande mensagens instantâneas por múltiplos protocolos
Comment[pt]=Envie mensagens instantâneas sobre vários protocolos
Comment[ro]=Trimiteţi mesaje instant în orice reţea
Comment[ru]=Обмен мгновенными сообщениями с использованием множества протоколов
Comment[sl]=Pošiljajte neposredna sporočila prek različnih protokolovs
Comment[sq]=Dërgoni mesazhe të atypëratyshëm protokollesh të ndryshëm
Comment[sv]=Sänder snabbmeddelande över många protokoll
Comment[zh_CN]=通过多种协议发送即时消息
Comment[zh_TW]=透過多種通訊協定發送即時訊息
