[Desktop Entry]
Encoding=UTF-8
Name=gvim
Exec=gvim
Icon=
Terminal=false
Type=Application
Categories=Application;Editor
GenericName=Text editor
GenericName[es]=Editor de texto
