[Desktop Entry]
Name=Quimup
Comment=A QT frontend for the mpd daemon
Exec=quimup
Terminal=false
Type=Application
Icon=guimup
Categories=GTK;AudioVideo;Player;
StartupNotify=true
