[Desktop Entry]
Encoding=UTF-8
Name=makagiga
Exec=makagiga
Icon=/usr/share/makagiga/makagiga.png
Terminal=false
Type=Application
Categories=Application;Editor
