[Desktop Entry]
Encoding=UTF-8
Version=0.9.3
Name=wmforkplop
Type=Application
Comment=monitors your processes by sending visual stimuli to your cortex each time your kernel forks or kills a process
Comment[es]=monitorea sus procesos enviando estímulo visual a su córtex cada vez que su kernel mata o crea un proceso
Exec=wmforkplop
Icon=
Categories=Application;WMTools;
Term=
