[Desktop Entry]
Encoding=UTF-8
Version=0.9.3
Name=wmforkplop
Type=Application
Comment=monitors your processes by sending visual stimuli to your cortex each time your kernel forks or kills a process
Exec=wmforkplop
Icon=
Categories=Application;WMTools;
Term=
