# Sample auto.master file
# Format of this file:
#     mountpoint map options
# 
# For details of the format look at autofs(8).
#
/misc	/etc/auto.misc
/net	/etc/auto.net

# if you've got your home dirs elsewhere:
#
## /home	/etc/auto.home

# and if you've got users on an other server:
#
## /tmp_mnt	/etc/auto.remote		# administered locally
## /tmp_mnt	auto.home			# administered through NIS
