# Bind MAC addresses to interface names if they are set with netconf
KERNEL=="eth*", ATTRS{address}=="?*", PROGRAM="/lib/udev/mac2name %s{address}", NAME="%c"
