[Desktop Entry]
Encoding=UTF-8
Version=0.3.1
Name=xplab
Type=Application
Comment=a graphical tool for pattern matching
Comment[es]=una herramienta gráfica para coincidencia de patrones
Exec=xplab
Icon=
Categories=Applications;Utility
Term=
