[Desktop Entry]
Encoding=UTF-8
Version=0.1.2
Name=qtodo
Type=Application
Comment=QTodo is a todo-list manager
Exec=qtodo
Icon=
Categories=Application;Office;
Term=
