[Desktop Entry]
Encoding=UTF-8
Name=Emacs
Exec=emacs
Icon=
Terminal=false
Type=Application
Categories=Application;Editor
GenericName=Text editor
GenericName[es]=Editor de texto
