[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Name=keyjnote
Type=Application
Comment=a program that displays presentation slides
Comment[es]=un programa que muestra diapositivas de presentación
Exec=keyjnotes.py
Icon=
Categories=Application;Office;Presentation;
Term=
