[Desktop Entry]
Encoding=UTF-8
Name=vim
Exec=vim
Icon=/usr/share/icons/hicolor/48x48/apps/gvim.png
Terminal=true
Type=Application
Categories=Application;Editor
GenericName=Text editor
GenericName[es]=Editor de texto
