[Desktop Entry]
Encoding=UTF-8
Name=VLC
Name[en_CA]=VLC
Name[fr]=VLC
Comment=Video and music player which can act as a stream server
Comment[en_CA]=Video and music player which can act as a stream server
Comment[fr]=Lecteur de vidéos et de musique pouvant faire office de serveur de flux multimédia
Exec=vlc
Icon=/usr/share/vlc/vlc48x48.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;AudioVideo;Player;
MimeType=application/x-extension-mp4;application/x-extension-m4a;application/x-shorten;application/x-smil;application/smil;video/mp4;video/x-m4v;video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/vnd.divx;video/3gpp;audio/3gpp;application/ogg;application/x-ogg;application/x-matroska;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/mpegurl;audio/x-scpls;audio/x-m4a;audio/mp4;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/x-flac;audio/x-flac;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;application/x-flash-video;video/x-ogm+ogg;
