[Desktop Entry]
Encoding=UTF-8
Name=Elation
Exec=elation
TryExec=elation
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;AudioPlayer;
Comment=Listen to your audio collection
Comment[es]=Escuche su colección de audio
Comment[nl]=Luister naar je muziekverzameling
GenericName=Music Player
GenericName[es]=Reproductor de música
GenericName[nl]=Muziek speler
