[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=wmcalendar
Type=Application
Comment=a calendar dockapp
Exec=wmcalendar
Icon=
Categories=Applications;Applet;wmCalendar;
Term=
