[Desktop Entry]
Encoding=UTF-8
Name=IceCat
Exec=icecat
Icon=
Terminal=false
Type=Application
Categories=Application;Network;Browsers;
GenericName=Web browser
GenericName[es]=Navegador web
