[Unit]
Description=Firebird Database Server
After=syslog.target network.target
Documentation=https://firebirdsql.org/en/firebird-rdbms/

[Service]
User=firebird
Group=firebird
ExecStart=/opt/firebird5/bin/firebird

[Install]
WantedBy=multi-user.target
